<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR230026</title>
    <link th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery-validation/dist/jquery.validate.min.js}"></script>
    <script th:src="@{/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js}"></script>
    <script th:src="@{/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</head>
</html> 